* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.grid-container {
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
}

.grid-container > div {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: papayawhip;
  font-size: 5rem;
  text-align: center;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 13;
  padding: 2rem;
}
.grid-item2 {
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 5rem;
  min-height: 10rem;
}
.grid-item3 {
  grid-column-start: 6;
  grid-column-end: 9;
  padding: 5rem;
}
.grid-item4 {
  grid-column-start: 9;
  grid-column-end: 13;
  padding: 5rem;
}
.grid-item5 {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item6 {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item7 {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;
  padding: 20rem;
}
.grid-item8 {
  grid-column-start: 1;
  grid-column-end: 7;
  padding: 10rem;
}
.grid-item9 {
  grid-column-start: 7;
  grid-column-end: 13;
  padding: 10rem;
}

span {
  color: palegreen;
  z-index: 99999999999999999999;
  font-size: 2rem;
}

@media screen and (max-width: 570px) {
  .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 2rem;
  }
  .grid-item2 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 5rem;
    min-height: 10rem;
  }
  .grid-item3 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 5rem;
  }
  .grid-item4 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 5rem;
  }
  .grid-item5 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 10rem;
  }
  .grid-item6 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 10rem;
  }
  .grid-item7 {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 13;
    padding: 16rem;
    height: 45rem;
  }
  .grid-item8 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 10rem;
  }
  .grid-item9 {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 10rem;
  }
  .grid-container {
    padding: 2rem;

    gap: 12px;
  }
}
