*{
    margin:0;
    padding:0;

}

.container {
    display: grid;
    width: 1440px;
    height: 1463px;
    grid-template-rows: 100px 260px 230px 230px 340px;
    grid-template-columns: 410px 110px 110px 190px 410px ;
    margin: 0 80px;
    grid-gap: 15px;

}

.texto{
    font-size:33px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center; 
}
.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-column: 1/6;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-row: 2;
    grid-column: 1/3;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-row: 2;
    grid-column: 3/5;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-row: 2;
    grid-column: 5/6;
}

.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-row: 3;
    grid-column: 1;
}

.box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-row: 4;
    grid-column: 1;
}

.box7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-area: 3/2 / 5/6;
}

.box8 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-column: 1/4;
}

.box9 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CCCCCC;
    grid-column: 4/6;
}